
      <h1>Audio File Management</h1>
      <p>All files can be downloaded from the <a href="/file-downloads/">public file listing</a>.</p>
      <table class="listing" border="1">
      <tr><th>Name</th><th></th></tr>
      {{range .Files}}
      <tr>
        <td>{{.Name}}</td>
        <td><form action="/files/delete" method="POST"><input type="hidden" name="filename" value="{{.Name}}"><input type="submit" value="Delete"></form></td>
        </tr>
      {{end}}
      </table>
      <h2>Upload New File</h2>
      <p>
      <form action="/files/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
      </p>
