
      <h1>Audio File Management</h1>
      <p>All files can be downloaded from the <a href="/file-downloads/">public file listing</a>.</p>
      <table class="listing" border="1">
      <tr><th>Name</th><th></th></tr>
      {{range .Files}}
      <tr>
        <td>{{.Name}}</td>
        <td><form action="/files/delete" method="POST"><input type="hidden" name="filename" value="{{.Name}}"><input type="submit" value="Delete"></form></td>
        </tr>
      {{end}}
      </table>
      <h2>Upload Files</h2>
      <div id="drop-zone" class="drop-zone">
        Drag files here or click to browse
        <input type="file" id="file-input" multiple style="display:none">
      </div>
      <table class="listing" border="1">
        <tbody id="file-list"></tbody>
      </table>
      <input type="button" id="upload-btn" value="Upload All" style="display:none; margin-top: 0.5em;">
      <script src="/static/upload.js"></script>
