    <script type="text/javascript">
      function connectWebsocket() {
        console.log("Attempting to create websocket connection for radio status sync")
        const cookieValue = document.cookie
          .split("; ")
          .find((row) => row.startsWith("broadcast_session="))
          ?.split("=")[1];
        const socket = new WebSocket("/web-ws");
        socket.addEventListener("open", (event) => {
          socket.send(cookieValue);
        });
        socket.addEventListener("message", (event) => {
          console.log("Received a status update from server")
          const connected = document.getElementById('connected-radios');
          connected.innerHTML = event.data;
        });
        socket.addEventListener("close", (event) => {
          console.log("Websocket closed. Will retry in 10 seconds.")
          setTimeout(connectWebsocket, 10000);
        });
      }
      // initial connection on page load
      connectWebsocket();
    </script>
      <h1>Connected Radios</h1>
      <div id="connected-radios">
        <i>Loading...</i>
      </div>
