
      <h1>
      {{if .Radio.Id}}
      Edit Radio
      {{else}}
      Register New Radio
      {{end}}
      </h1>
      <form action="/radios/submit" method="POST">
        <input type="hidden" name="radioId" value="{{.Radio.Id}}">
        <p>
        <label for="radioName">Name:</label>
        <input type="text" id="radioName" name="radioName" value="{{.Radio.Name}}">
        </p>
        <p>
        Authentication token: <b>{{.Radio.Token}}</b>
        <input type="hidden" name="radioToken" value="{{.Radio.Token}}">
        </p>
        <p>
        <input type="submit" value="Save Radio">
        </p>
      </form>
      {{if .Radio.Id}}
      <h3>Delete</h3>
      <form action="/radios/delete" method="POST">
        <input type="hidden" name="radioId" value="{{.Radio.Id}}">
        <p>
        <input type="submit" value="Delete Radio">
        </p>
      </form>
      {{end}}
